<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Product</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
    <style media="screen">
      .mdl-cell.mdl-cell--7-col{
        margin: auto;
      }
      .mdl-menu__container.is-upgraded.is-visible{
        right: 876px !important;
      }
      a{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Inventory Management</span>
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav> -->
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/data-product">Data Product</a>
          <a class="mdl-navigation__link" href="/read-category">Category</a>
          <a class="mdl-navigation__link" href="/order-product">Order Product</a>
          <a class="mdl-navigation__link" href="/report">Report</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col">
              <h3>Edit Category</h3>
              <% data.forEach((category) => { %>
                <form action="/update-category" method="post">
                  <input type="hidden" name="id" value="<%= category.id %>">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3" name="nama_category" value="<%= category.nama_category%>">
                    <label class="mdl-textfield__label" for="nama_category">Nama Category...</label>
                  </div><br>
                  <button style="margin-right: 10px;" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Update!</button>
                  <a class="mdl-button mdl-js-button mdl-button--raised" href="/read-category">Cancel</a>
                </form>
              <% }) %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
