<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Category</title>
  </head>
  <body>
    <p>Add New Category</p>
    <form  action="/create-category" method="post">
      <label for="nama_category">Nama Category</label><br>
      <input type="text" name="nama_category" value=""><br>
      <button type="submit">Submit</button>
      <a href="/read-category">Back</a>
    </form>
  </body>
</html>
